.wrapper-stars-info.on{
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    margin-top: 4rem;
    gap: 2rem;
    animation: appearLeft .3s ease-in-out;
}
.wrapper-stars-info{
    display: none;
}
.menu-item img{
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    border:5px solid var(--colorModerateOrange);
    opacity: .6;
}
.menu-item img.on{
    opacity: 1;
}

@keyframes appearLeft {
    from{
        opacity: 0;
        transform: translateX(-50px);
    }
    to{
        opacity: 1;
        transform: initial;
    }
}

@media (max-width:760px){
    .wrapper-stars-info.on{
        grid-template-columns: 1fr;
    }
    .text-stars-info{
        padding: 1rem 2rem;
    }
}
