:root{
 --colorCeladon:#1C7094;
 --colorBlueMarine:#173365;
 --colorStrongOrange:#F28705;
 --colorModerateOrange:#fdb122;
 --colorBlack:#252525;
 --colorWhite:#eceaea;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none;
    color:var(--colorBlack);
    font-family: 'Be Vietnam', sans-serif
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-size: 1.4rem;
}
img {
    display: block;
    max-width: 100%;
}
label{
    display: block;
    text-align: center;
}
a,span,.lni,.far,.fas{
color:var(--colorWhite);
}


.header{
    animation: gradiente 8s ease-in-out infinite alternate; 
    background:linear-gradient(-45deg,#1C7094,#173365,#1C7094)no-repeat;
    padding: 2rem 0;
    background-size: 200% 200%;
}
@keyframes gradiente {
    from{
        background-position: 0 50%;
    }
    to{
        background-position: 100% 50%;
    }
}
.header-container{
    display: flex;
    padding: 0 1rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}
.logo{
    max-width: 18rem;
}
.navigation{
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;
}
.wrapper-btn{
    display: flex;
}
.btn{
    border: none;
    width: 12rem;
    height: 3.5rem;
    padding: 0 0 .5rem 0;
    background-color: transparent;
    letter-spacing: .3rem;
    cursor: pointer;
    color:var(--colorWhite);
}
.btn-flashy{
background-color: var(--colorModerateOrange);
border-radius: 1rem;
font-size: 1.5rem;
font-weight: 500;
width: 13rem;
height: 3.5rem;
transition: .3s ease-in-out;
}
.btn-flashy:hover{
background-color: var(--colorStrongOrange);
}
.btn-discreet{
font-size: 1.5rem;
font-weight: 500;
width: 7rem;
height: 3.2rem;

}
.btn-discreet:hover{
    border-bottom: solid 1px var(--colorModerateOrange);
    transition: .3s ease-in-out;
}

.btn + .btn{
 margin-left: 2rem;
}
.menu{
    width: 100%;
    position: absolute;
    left: 0;
    background-color: var(--colorBlueMarine);
    bottom: -8rem;
    padding: 1.6rem 2rem;
    border-top:solid 1px var(--colorCeladon);
}
.list-links{
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    margin: 0 auto;
    width: 100%;
    flex-wrap: wrap;
    max-width: 96rem;
}

.item-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height:3.5rem;
    width: 13rem;
    font-size:1.6rem;
}

.drop-menu.on,.drop-menu:hover{
   animation:linkEffect .3s ease-out forwards;
}
@keyframes linkEffect {
    to{
        border-radius: 10px; 
        background-color:var(--colorStrongOrange);
    }
}

.lni-ticket{
    font-size: 2.5rem;
    margin-right: .5rem;
    margin-bottom: -.3rem;
}
.fa-surprise{
    font-size: 2rem;
    margin-right: .5rem;
    margin-bottom: -.3rem;
}
.fa-info,.fa-university{
    font-size: 1.7rem; 
    margin-right: .5rem;
}


/* slide */

.section-slide{
   margin-top:6rem;
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   margin-bottom: 4rem;
}
.container-slide{
    display: flex;
    justify-content: center;
    padding: 0 0 35rem 0;
    width: 100%;
    position: relative;
    border-top:solid 1px var(--colorCeladon);
    border-bottom:solid 1px var(--colorCeladon);
    
}
.title{
letter-spacing: 3px;
text-transform: uppercase;
font-weight: 700;
}
.title-strong{
color:var(--colorWhite);
text-shadow: 1px 1px 1px black;
font-size: clamp(2rem,2.3rem + 1.6vw, 6rem);
}


.sub-title{
    color:var(--colorWhite);
    font-size: clamp(1.4rem,1rem + .6vw, 1.8rem);
    text-shadow: 1px 1px 1px black;
    font-weight: 400;
    align-self: flex-start;
    margin-bottom: 1.5rem;
}
.btn-flashy{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-presentation{
    display: flex;
    padding: 8rem 1rem 0rem 1rem;
    margin-bottom: 13rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.section-presentation::after{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-image: url('https://imagensemoldes.com.br/wp-content/uploads/2020/05/Ilustra%C3%A7%C3%A3o-Onda-PNG-1280x720.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}
.container-presentation{
    display: flex;
    padding: 10rem 0 0rem 0;
    flex-wrap: wrap;
    align-items: center;
}
.title-standard{
 font-size: 3rem;
 text-align: center;
 color:var(--colorCeladon);
 position: relative;
 z-index: 99;
}
.animation-presentation{
    max-width:7rem;
    margin-top: 1.5rem;
}

.img-presentation{
    flex: 1 1 388px;
    position: relative;
    z-index: 100;
}
.text-presentation{
    flex:1.5 1 458px;
    padding: 1rem 3rem 1rem 3rem;
    position: relative;
    z-index: 100;
}
.title-celadon{
    text-align: center;
    color: var(--colorCeladon);
}

.title-orange{
    text-align: center;
    color: var(--colorStrongOrange);
    justify-items: center;
}

.title-white{
    text-align: center;
    color: var(--colorWhite);
}
.text{
    letter-spacing: 1px;
    line-height: 2.2rem;
    font-size: 1.5rem;
}
/* STARS */
.section-stars{
    position: relative;
    margin: 10rem 0;
}
svg{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
}
.container-stars{
    display: grid;
    gap: 3rem;
    margin-top: 5rem;
    grid-template-columns: 1fr;
    justify-content: center;
}

.menu-stars{
    display: flex;
    justify-content: space-evenly;
    
}
.menu-item{
    margin: 0 1rem;
    cursor: pointer;
}
.text-stars-info{
    display: grid;
    gap: 1.5rem;
    align-content: start;
    
}
.text-stars-info h2{
    display: grid;
    gap: .5rem;
}

.text-stars-info p {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--colorStrongOrange);
}
.text-stars-info span{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--colorBlack);
}
.text-stars-info .sub-title-info{
    font-size: 1rem;
    color: var(--colorModerateOrange);
}
.img-stars-info img{
    position: relative;
    object-fit: cover;
    z-index: 100;
    border: 10px solid var(--colorModerateOrange);
}






.section-opinions{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    margin-bottom: 6rem;
    background: url("../img/new_wave_294.11859868992775.svg")no-repeat center center;
    background-size: cover;
}
.container-opinions{
    margin-top: 3rem;
    flex:1;
    display: grid;
    justify-items: center;
    gap: 2.5rem;
    grid-template-columns: repeat(auto-fit,minmax(50px,1fr));
}
.wrapper-opinions{
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 2rem;
 max-width: 17rem;
}
.img-cliente-opinions{
    border-radius: 50%;
    max-width: 10rem;
    border:3px solid var(--colorModerateOrange);
}
.wrapper-opinions p{
    font-weight: bold;
}
.name-opinions{
    display: block;
    color: var(--colorStrongOrange);
    text-align: center;
    margin-top: 1rem;
    font-size:1.6rem;
}

.section-newsletters{
    margin: 12rem 0;
}

.container-newsletters{
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}
.text-newsletters{
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.6rem;
}
.sending-newsletters{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input-newsletters{
    width: 50%;
    padding: .5rem 2rem;
    margin-right: 1rem;
    font-size: 1.8rem;
    outline: none;
    border: 2px var(--colorModerateOrange) solid;
}
.btn-newsletters{
    width: 15%;
    padding: .8rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.8rem;
    outline: none;
    background-color: var(--colorCeladon);
    color: var(--colorWhite);
    border: none;
    cursor: pointer;
}
.btn-newsletters:hover,
.btn-newsletters:focus{
    background-color: var(--colorStrongOrange);
}
#map {
    flex:1;
    height: 35rem;
    border: 10px solid var(--colorModerateOrange);
}

.section-localization{
    margin: 10rem auto;
    position: relative;
}
.wrapper-localization{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top:5rem;
}
.info-localization {
    flex:1;
    padding: 1rem 4rem 4rem 4rem;
    display: grid;
    grid-template-rows: repeat(4, auto) 1fr;
    gap: 1rem;
    
}

.hour{
    font-size: 1.8rem;
    align-self: center;
    color: var(--colorBlueMarine);
    font-weight: 700;
    text-transform: uppercase;
    
}
.hour span{
    font-size: 1.6rem;
    color: var(--colorBlack);
    font-weight: 600;
    margin-left: 1rem;
}

.footer{
    background-color:var(--colorCeladon);
    padding: 2rem 0;
}
.container-footer{
    max-width: 980px;
    margin: 0 auto;
    display: grid;
    grid-template-columns:150px 1fr;
    justify-items: center;
}
.footer-list{
    max-width: 600px;
    display: grid;
    grid-template-columns: 300px 300px;
    justify-items: center;
}
.footer-list li {
    margin-bottom: 1rem;
    position: relative;
}
.footer-list li:hover::after {
    content: '';
    background-color: var(--colorStrongOrange);
    width: 100px;
    height: 3px;
    display: block;
    position: absolute;
    animation: slowShow .3s ease-in;
}

@keyframes slowShow {
    from{
        opacity: 0;
        transform: translateX(-10px);
    }
    to{
        opacity: 1;
        transform: translateX(initial);
    }
}

