:root{
 --colorCeladon:#1C7094;
 --colorBlueMarine:#173365;
 --colorStrongOrange:#F28705;
 --colorModerateOrange:#fdb122;
 --colorBlack:#252525;
 --colorWhite:#eceaea;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
    list-style:none;
    color:var(--colorBlack);
    font-family: 'Be Vietnam', sans-serif
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.4rem;
}
img {
    display: block;
    max-width: 100%;
}
a,span,.lni,.far,.fas{
color:var(--colorWhite);
}


.header{
    animation: gradiente 8s ease-in-out infinite alternate; 
    background:linear-gradient(-45deg,#1C7094,#173365,#1C7094)no-repeat;
    padding: 2rem 0;
    background-size: 200% 200%;
}
@keyframes gradiente {
    from{
        background-position: 0 50%;
    }
    to{
        background-position: 100% 50%;
    }
}
.header-container{
    display: flex;
    padding: 0 1rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}
.logo{
    max-width: 18rem;
}
.navigation{
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;
}
.wrapper-btn{
    display: flex;
}
.btn{
    border: none;
    width: 12rem;
    height: 3.5rem;
    padding: 0 0 .5rem 0;
    background-color: transparent;
    letter-spacing: .3rem;
    cursor: pointer;
    color:var(--colorWhite);
}
.btn-flashy{
background-color: var(--colorModerateOrange);
border-radius: 1rem;
font-size: 1.5rem;
font-weight: 500;
width: 13rem;
height: 3.5rem;
transition: .3s ease-in-out;
}
.btn-flashy:hover{
background-color: var(--colorStrongOrange);
}
.btn-discreet{
font-size: 1.5rem;
font-weight: 500;
width: 7rem;
height: 3.2rem;

}
.btn-discreet:hover{
    border-bottom: solid 1px var(--colorModerateOrange);
    transition: .3s ease-in-out;
}

.btn + .btn{
 margin-left: 2rem;
}
.menu{
    width: 100%;
    position: absolute;
    left: 0;
    background-color: var(--colorBlueMarine);
    bottom: -8rem;
    padding: 1.6rem 2rem;
    border-top:solid 1px var(--colorCeladon);
}
.list-links{
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    margin: 0 auto;
    width: 100%;
    flex-wrap: wrap;
    max-width: 96rem;
}

.item-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height:3.5rem;
    width: 13rem;
    font-size:1.6rem;
}

.drop-menu.on,.drop-menu:hover{
   animation:linkEffect .3s ease-out forwards;
}
@keyframes linkEffect {
    to{
        border-radius: 10px; 
        background-color:var(--colorStrongOrange);
    }
}

.lni-ticket{
    font-size: 2.5rem;
    margin-right: .5rem;
    margin-bottom: -.3rem;
}
.fa-surprise{
    font-size: 2rem;
    margin-right: .5rem;
    margin-bottom: -.3rem;
}
.fa-info,.fa-university{
    font-size: 1.7rem; 
    margin-right: .5rem;
}

/* section-hero */

.section-slide{
   margin-top:6rem;
}
.slide-container{
    display: flex;
    justify-content: center;
    height: 38vw;
    width: 100%;
    position: relative;
    border-top:solid 1px var(--colorCeladon);
    border-bottom:solid 1px var(--colorCeladon);
}

