@media (max-width:760px){
    .header-container{
        position: relative;
        flex-direction: row-reverse;
        align-items: flex-end;
    }
    .btn-mobile{
        display: flex;
        background-color: var(--colorStrongOrange);
        border: none;
        padding: .5rem 1.5rem;
        align-items: center;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 700;
    }
    .btn-mobile span{
        margin-bottom: .3rem;
    }
    .btn-mobile::after{
        content:'';
        display:inline-block;
        height:.2rem;
        width: 1.2rem;
        background: #fff;
        margin-left: 1rem;
        box-shadow: 0 4px #fff,0 -4px #fff;
    }
    .wrapper-btn-mobile{
        display: flex;
        align-items: center;
    }
   
    .navigation{
        flex-direction: column-reverse;
        position: absolute;
        left: 1rem;
        top:19.8rem;
    }
    .wrapper-btn{
        background-color: var(--colorBlueMarine);
        flex-direction: column;
        align-items: center;
        position: absolute;
        bottom: -16rem;
        width: 18rem;
        padding:1rem;
        
    }
    
    .btn + .btn{
        margin:inherit;
    }
    .menu{
        position: inherit;
        width: inherit;
        width: 18rem;
    }
    .list-links{
        flex-direction: column;
    }
    .dropdown-menu{
        left: 15.5rem;
        top:0rem;
    }.dropdown-menu::before{
        left: -4.3rem;
        top: 0rem;
        border-right: 2.5rem solid var(--colorStrongOrange);
        border-bottom: 1.6rem solid transparent;
        border-top: 1.6rem solid transparent;
    }
}
@media (max-width:400px){
    html{
        font-size: 50%;
    }
    .logo{
        max-width: 22rem;
    }
    .navigation{
        top:25.7rem;
    }
    .dropdown-menu{
       width: 18rem;
    }
    .item-link{
        margin: .5rem 0;
    }
}